<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need your permission to change your avatar profile or send image from your library in message</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone access is needed so you can record video with sound and calling feature</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Stitchbox require location to provide more precise result</string>
	<key>NSContactsUsageDescription</key>
	<string>We need your contact to find out your friends on our platform and invite new users.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need your permission to change your avatar profile, send image from your library in message or record your highlight moments.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>We need your permission to change your avatar profile or send image from your library in message or pick highlight from your library</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.56078114675-c5lhtgsgsp4bod4amsc9rlfv8b4s64j8</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb663026798636026</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>663026798636026</string>
	<key>FacebookClientToken</key>
	<string>ebe6a3e720a966c49e3c9fc345cf9b5c</string>
	<key>FacebookDisplayName</key>
	<string>Stitchbox</string>
	<key>UIAppFonts</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.56078114675-c5lhtgsgsp4bod4amsc9rlfv8b4s64j8</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
