<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-4ob6dNOQJPIjz9DQtCiLcD8VY</string>
				<string>fb663026798636026</string>
				<string>aw3hzih2me6rk0vg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.mobile.gg.Stitchbox1</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.56078114675-c5lhtgsgsp4bod4amsc9rlfv8b4s64j8</string>
				<string>stitchbox</string>
			</array>
		</dict>
	</array>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
	<key>FacebookAppID</key>
	<string>663026798636026</string>
	<key>FacebookClientToken</key>
	<string>c37b4e32bd004df0e13f240d1779f3d8</string>
	<key>FacebookDisplayName</key>
	<string>Stitchbox</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tiktokopensdk</string>
		<string>tiktoksharesdk</string>
		<string>snssdk1180</string>
		<string>snssdk1233</string>
	</array>
	<key>TikTokAppID</key>
	<string>aw3hzih2me6rk0vg</string>
	<key>UIAppFonts</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.56078114675-c5lhtgsgsp4bod4amsc9rlfv8b4s64j8</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
</dict>
</plist>
